html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing:inherit;
}
body{
    font-family:Arial, sans-serif;
    background-color:#E9EBF8 ;
    color:#000000;
}
.main{
    
    display: grid;
    grid-template-areas:
     "header  header header header header"
    ". article  . aside ."
    "footer footer footer footer footer";
    grid-template-columns: 16px 3fr 1fr 2fr 16px;
    column-gap: 16px;
    grid-template-rows:1fr 1fr 1fr;
    row-gap: 16px;

}
.header{
    color: #D2FF28;
    background-image: url(albaster-picture.jpg);
    font-size: 50px;
    padding-left: 15px;
    grid-column: 1/6;
}
.article{
    grid-area: article;
    margin-left: 15px;
}
.aside{
    grid-area: aside;
    margin-left: 15px;
}

.footer{
    grid-area: footer;
    margin-left: 15px;
}
.footer_title{
    display: flex;
    justify-items: center;
    
}